[submodule "WP"]
	path = WP
	url = https://github.com/bradly0cjw/WP.git
[submodule "DB_FE"]
	path = DB_FE
	url = https://github.com/bradly0cjw/DB_FE.git
[submodule "OS"]
	path = OS
	url = https://github.com/bradly0cjw/OS.git
[submodule "CP2"]
	path = CP2
	url = https://github.com/bradly0cjw/CP2-NTUT.git
[submodule "MPL"]
	path = MPL
	url = https://github.com/bradly0cjw/MPL.git
[submodule "BS"]
	path = BS
	url = https://github.com/bradly0cjw/Bullet_Storm.git
[submodule "OOP"]
	path = OOP
	url = https://github.com/bradly0cjw/OOP.git
[submodule "GAME"]
	path = GAME
	url = https://github.com/bradly0cjw/GAME.git
[submodule "Android"]
	path = Android
	url = https://github.com/bradly0cjw/Android.git
